/* .carousel-vertical {
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
} */

/* .carousel {
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
    .carousel {
        flex-direction: column;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
} */

.carousel {
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
}

.carousel::-webkit-scrollbar {
    display: none;  /* for Chrome, Safari, and Opera */
}

.carousel > * {
    scroll-snap-align: start;
}

@media screen and (max-width: 600px) {
    .carousel {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
}
